<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
        <main>
            <h2>전체 글 조회 (업데이트 순)</h2>
            {% assign timeframe = 604800 %}
            {% assign sorted_notes = site.notes | sort: "last_modified_at" %}
            <ul>
                {% for note in sorted_notes reversed %}
                <li>
                    <a href="{{ note.url }}">{{ note.title }}</a><span style="font-size: 0.8em;">{{
                        note.last_modified_at |
                        date: "%B %-d, %Y" }}</span>
                </li>
                {% endfor %}
            </ul>
        </main>
    </div>

</body>

</html>